body {
    background-color: rgb(50, 129, 231);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: white;
    text-align: center;
}
section {
    background-color: white;
    padding: 5px;
    border-radius: 5%;
    margin-left: 200px;
    margin-right: 200px;
}
footer {
    color: white;
    text-align: center;
}
p#botao {
    display: flex;
    justify-content: center;
}
div#msg {
    font-weight: bold;
    text-align: center;
}
div#image {
    text-align: center;
}